#main-content{    
    .holiday-table{
        background: white;
        border-radius: 8px;
        padding: 20px; 
        .holiday-table-header{
            padding-bottom: 40px;
            font-size: 16px;
            font-weight: 500;
        }
        table{
            font-size: 14px;
            thead{
                tr{
                    th{
    
                    }
                }
            }
            tbody{
                tr{
                    td{
    
                    }
                }
            }
        }
    }
}